---
import { getFileFromDirectory } from "../utils/fileList";
const animeFile = getFileFromDirectory("anime");
---
<div>
    <h1 class="text-white font-bold text-3xl">Animes</h1>
    <div>
        <ul class="text-white flex flex-row">
            {animeFile.map(file =>(
                <li>{file}</li>
            ))}
        </ul>
    </div>
</div>
