<nav class="header mx-auto py-3 flex justify-between border-b border-white">
    <div class="logo">
        <h1 class="text-5xl ml-5 self-center font-bold bg-gradient-to-r from-red-600 to-purple-400 inline-block text-transparent bg-clip-text">LOMES</h1>
    </div>
    <div class="Menu flex text-center self-center">
        <ul class="flex gap-3 text-white text-2xl">
            <li>Movies</li>
            <li>TV Shows</li>
            <li>Anime</li>
            <li>Music</li>
        </ul>
    </div>
</nav>

