---
import { getFileFromDirectory } from "../utils/fileList";
const movieFiles = getFileFromDirectory("movies");
---
<div>
    <h1 class="font-bold text-white text-3xl">Movies</h1>
    <div class="tablets">
      <ul class="text-white flex flex-row">
        {movieFiles.map(file => (
          <li>{file}</li>
        ))}
      <ul>
    </div>
</div>
