---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import ContinueWatching from '../components/ContinueWatching.astro'
import Movies from '../components/Movies.astro'
import TVShows from '../components/TVShows.astro'
import Music from '../components/Music.astro'
import Anime from '../components/Anime.astro'
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col">
		<ContinueWatching />
		<Movies />
		<TVShows />
		<Anime />
		<Music />
	</main>
</Layout>

